html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    min-width: 375px;
    max-width: 1920px;
}
.fast {
    display: block; 
    position: absolute;
    top: 0;
    width: 100%;
    height: 1000vh;
    background-color: #4d6176;
    color: white;
    font-size: 50px;
    z-index: 100;
    transition: opacity 1s ease; 
}
.fast.hidden {
    opacity: 0;
}
.fast > h1{
    margin: 0;
    text-align: center;
    line-height: 900px;
    z-index: 100;
}
header > h1{
    margin: 0 auto;
    flex: 1;
    color: white;
    line-height: 100px;
    white-space: nowrap;
    margin: 1rem 2rem;
}
header nav > ul{
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style: none;
    line-height: 100px;
    justify-content: end;
    font-size: 20px;
}
header nav ul > li{
    margin: 1rem 2rem;
}
header nav ul li > a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
header nav ul li > a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 1rem;
    padding: 10px;
    color: white;
}
@media screen and (width < 1000px){
    .fast{
        font-size: 20px;
    }
    header > h1{
        text-align: end;
        font-size: 30px;
        line-height: 170px;
    }
    header > nav{
        display: none;
    }
    .sub{
        width: 100px;
        font-size: 20px;
    }
}
header{
    left: 0;
    top: 0;
    width: 100%;
    height: 130px;
    background-color: #4d6176;
    opacity: 0.9;
    z-index: 10;
    display: flex;
}
@media screen and (width > 1000px){
    #hmb{
        display: none;
    }
}
@media screen and (width < 1000px){
    #header.active{
        background-color: #dfd892;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 8520px;
        z-index: 1000;
        opacity: 1;
        justify-content: space-between;
    }
    #header.active >  h1{
        display: none;
    }
    #hmb{
        color: white;
        width: 70px;
        height: 80px;
        cursor: pointer;
        position: relative;
        z-index: 110;
        border-radius: 10px 0 0 10px;
    }
    #hmb span{
        width: 50px;
        height: 6px;
        display: block;
        background-color: white;
        position: absolute;
        left: 10px;
        transition: .1s;
    }
    #hmb p{
        margin-left: 10px;
        line-height: 120px;
    }
    #hmb span:first-child{top:30px}
    #hmb span:nth-child(2){top:45px}
    #hmb span:nth-child(3){top:60px}
    #hmb p:last-child{bottom:100px;}
    .active #hmb span:first-child{
        top: 40px;
        transform: rotate(40deg)
    }
    .active #hmb span:nth-child(2){
        opacity: 0;
    }
    .active #hmb span:nth-child(3){
        top: 40px;
        transform: rotate(-40deg)
    }
    .active #hmb p:last-child{
        opacity: 0;
    }
    header.active nav{
        display: block;
    }
    header.active nav > ul{
        display: inline;
    }
    header.active nav ul > li{
        font-size: 30px;
        margin: 100px 0;
    }
}
.aicon{
    margin: 15px;
    width: 100px;
    height: 100px;
}
.sub{
    display: grid;
    color: white;
    background-color: #4d6176;
    width: 300px;
    height: 80px;
    text-align: center;
    align-items: center;
    font-size: 25px;
}
#self{
    height: 900px;
}
#self > h3{
    margin-top: 150px;
}
#self .self-area{
    width: 70%;
    height: 500px;
    margin: 100px 220px;
    border: solid 3px;
    display: flex;
}
#self .self-area img{
    width: 400px;
    height: 300px;
    margin: 100px;
}
#self .self-area .intor{
    width: 400px;
    height: 300px;
    margin-top: 100px;
    margin-right: 100px;
}
#self .self-area .intor > .name{
    margin: 0;
    margin-bottom: 30px;
    font-size: 50px;
}
#work .ai .ai02 > img{
    width: 300px;
    height: 500px;
    margin: 0 100px ;
}
#work .ai .ai03 > img{
    width: 300px;
    height: 500px;
    margin: 0 100px ;
}
#work .ai .ai04 > img{
    width: 300px;
    height: 500px;
    margin: 0 100px ;
}
@media screen and (width < 1000px){
    #self > .self-area{
        display: block;
        width: 80%;
        height: 600px;
        margin: 100px 30px;
    }
    #self .self-area > img{
        width: 90%;
        height: 200px;
        margin: 25px;
    }
    #self .self-area .intor{
        width: 90%;
       margin: 25px;
    }
    #self .self-area .intor > .name{
        margin: 0;
        margin-bottom: 15px;
        font-size: 30px;
    }
}
#skill{
    height: 1000px;
}
#skill > .area{
    display: flex;
}
#skill .area > div{
    flex: 1;
    width: 300px;
    height: 600px;
    margin: 50px;
    margin-top: 100px;
    border: solid 3px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}
#skill .area div > .aiimg{
    width: 100px;
    display: block; 
    margin: 0 auto; 
}
#skill .area div > .unimg{
    width: 100px;
    display: block; 
    margin: 0 auto; 
}
#skill .area div > .aeimg{
    width: 110px;
    display: block; 
    margin: 0 auto; 
}
#skill .area div > .skillname{
    font-size: 40px;
    margin-bottom: 50px;
}
#skill .area div > .description{
    margin: 50px 70px;
    font-size: 20px;
}
@media screen and (width < 1000px){
    #skill{
        height: 2000px;
    }
    #skill > .area{
        display: block;
    }
    #skill .area > div{
        width: 80%;
        height: 500px;
        margin: 100px 30px;
    }
    #skill .area div > .skillname{
        font-size: 30px;
        margin-bottom: 50px;
    }
    #skill .area div > .description{
        margin: 50px 70px;
        font-size: 15px;
    }
}
#work div > .skillname{
    display: grid;
    color: #4d6176;
    background-color: #dfd892;
    width: 300px;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 10px;
}
#work .ai > .aiflex01{
    display: flex;
}
#work .ai > .aiflex02{
    display: flex;
}

#work .ai div > .ai01{
    width: 100%;
    height: 900px;
    margin: 100px 100px;
    border: solid 3px;
}

#work .ai div > .ai02{
    width: 100%;
    height: 900px;
    margin: 100px 100px;
    border: solid 3px;
}
#work .ai div > .ai03{
    width: 100%;
    height: 900px;
    margin: 100px 100px;
    border: solid 3px;
}
#work .ai div > .ai04{
    width: 100%;
    height: 900px;
    margin: 100px 100px;
    border: solid 3px;
}
#work .ai .ai01 > img{
    width: 300px;
    height: 500px;
    margin: 0 100px;
}
#work .ai .ai01 > .worktitle{
    text-align: center;
    font-size: 30px;
}
#work .ai .ai02 > .worktitle{
    text-align: center;
    font-size: 30px;
}
#work .ai .ai03 > .worktitle{
    text-align: center;
    font-size: 30px;
}
#work .ai .ai04 > .worktitle{
    text-align: center;
    font-size: 30px;
}
#work .ai .ai01 > .details{
    font-size: 20px;
    margin: 40px 100px; 
}
#work .ai .ai02 > .details{
    font-size: 20px;
    margin: 40px 100px; 
}
#work .ai .ai03 > .details{
    font-size: 20px;
    margin: 40px 100px; 
}
#work .ai .ai04 > .details{
    font-size: 20px;
    margin: 40px 100px; 
}
#work .ai div div .time{
    margin-top: 10px;
}
@media screen and (width < 1000px){
    #work {
        height: 5000px;
    }
    #work div > .skillname{
        margin-left: 30px;
    }
    #work .ai > .aiflex01{
        display: block;
    }
    #work .ai > .aiflex02{
        display: block;
    }
    #work .ai div > .ai01{
        width: 80%;
        height: 720px;
        margin: 30px
    }
    #work .ai div > .ai02{
        width: 80%;
        height: 700px;
        margin: 30px
    }
    #work .ai div > .ai03{
        width: 80%;
        height: 700px;
        margin: 30px
    }
    #work .ai div > .ai04{
        width: 80%;
        height: 680px;
        margin: 30px
    }
    #work .ai .ai01 > img{
        width: 200px;
        height: 400px;
        margin: 0 50px;
    }
    #work .ai .ai02 > img{
        width: 200px;
        height: 400px;
        margin: 0 50px;
    }
    #work .ai .ai03 > img{
        width: 200px;
        height: 400px;
        margin: 0 50px;
    }
    #work .ai .ai04 > img{
        width: 200px;
        height: 400px;
        margin: 0 50px;
    }
    #work .ai .ai01 > .worktitle{
        font-size: 20px;
    }
    #work .ai .ai02 > .worktitle{
        font-size: 20px;
    }
    #work .ai .ai03 > .worktitle{
        font-size: 20px;
    }
    #work .ai .ai04 > .worktitle{
        font-size: 20px;
    }
    #work .ai .ai01 > .details{
        font-size: 15px;
        margin: 40px 50px; 
    }
    #work .ai .ai02 > .details{
        font-size: 15px;
        margin: 40px 50px; 
    }
    #work .ai .ai03 > .details{
        font-size: 15px;
        margin: 40px 50px; 
    }
    #work .ai .ai04 > .details{
        font-size: 15px;
        margin: 40px 50px; 
    }
}
#work .ae > .ae01{
    max-width: 1920px;
    width: 70%;
    height: 600px;
    margin: 100px 220px;
    border: solid 3px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
#work .ae div > video{
    margin-top: 40px;
    width: 500px;
}
#work .ae div > .worktitle{
    font-size: 30px;
}
#work .ae div > .details{
    margin: 10px 200px;
}
@media screen and (width < 1000px){
    #work .ae > .ae01{
        max-width: 600px;
        width: 80%;
        height: 600px;
        margin: 100px 30px;
    }
    #work .ae div > video{
        margin-top: 10px;
        width: 250px;
    }
    #work .ae div > .worktitle{
        font-size: 20px;
        margin-top: 20px;
    }
    #work .ae div > .details{
        margin: 10px 50px;
    }
}
#work .unity > .unity01{
    max-width: 1920px;
    width: 70%;
    height: 600px;
    margin: 100px 220px;
    border: solid 3px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
#work .unity div > video{
    width: 500px;
}
#work .unity div > .worktitle{
    font-size: 30px;
} 
#work .unity div > .details{
    margin: 10px 200px;
}
@media screen and (width < 1000px){
    #work .unity > .unity01{
        max-width: 600px;
        width: 80%;
        height: 600px;
        margin: 100px 30px;
    }
    #work .unity div > video{
        margin-top: 10px;
        width: 250px;
    }
    #work .unity div > .worktitle{
        font-size: 20px;
        margin-top: 20px;
    } 
    #work .unity div > .details{
        margin: 10px 50px;
    }
}
.back{
    color: #dfd892;
    position: fixed;
    bottom: 24px;
    right: 80px;
    text-decoration: none;
    display: block;
    width: 100px;
    padding: 16px 20px;
    text-align: right;
    transform: rotate(90deg);
    transform-origin: bottom right;
}
.arrow1 {
    width: 120px;
    height: 1px;
    background: #dfd892;
    position: absolute;
    top: 65%;
    right: 18px;
} 
.arrow2 {
    width: 1px;
    height: 12px;
    background: #dfd892;
    position: absolute;
    top: calc(65% + 1px);
    right: 136px;
    transform: rotate(-130deg);
    transform-origin: top left;
}
footer{
    margin-top: 200px;
    width: 100%;
    height: 100%;
}
footer h1{
    margin: 0 auto;
    padding: 100px;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: #4d6176;
}
@media screen and (width < 1000px){
    .back{
        right: 45px;
    }
    .arrow1 {
        top: 70%;
    } 
    .arrow2 {
        top: calc(70% + 1px);
    }
    footer h1{
        font-size: 20px;
    }
}